.service-badge {
  border-radius: 2px;
  padding: .25em .5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  margin-bottom: 0.2rem;

  &:last-of-type {
    margin-bottom: 0;
  }
  //TODo:: set colors by variable
  &.sms {
    background-color: #c8e6c9;
    color: #256029;
  }

  &.wifi {
    background-color: #b3e5fc;
    color: #23547b;
  }

  &.broadband {
    background-color: #eccfff;
    color: #694382;
  }

  &.vps {
    background-color: rgb(128,203,196);
    color: rgb(0,105,92);
  }
}
